body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: url('backgroundimage_coins_2.jpg') no-repeat center center fixed; /* Adiciona a imagem de fundo */
    background-size: cover; /* Ajusta o tamanho da imagem para cobrir toda a área */
}

.container {
    text-align: center;
    font-size: 16px;
    width: 960px; /* 60 characters * 16px per character */
    background-color: rgba(255, 255, 255, 0.8); /* Fundo branco semitransparente para o container */
    padding: 20px;
    border-radius: 10px; /* Bordas arredondadas */
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    background-color: rgba(0, 0, 0, 0.7); /* Fundo escuro semitransparente para destaque */
    color: white; /* Cor do texto branco */
    padding: 5px 10px; /* Espaçamento interno para melhor legibilidade */
    border-radius: 5px; /* Bordas arredondadas */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Sombra para destaque */
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    box-sizing: border-box;
    font-family: monospace; /* Ensure monospaced font for accurate width */
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
